[submodule "api-email/manager-email/src/commons"]
	path = api-email/manager-email/src/commons
	url = git@githubManager:StackManager/app-commons.git
[submodule "api-email/services-email/src/commons"]
	path = api-email/services-email/src/commons
	url = git@githubManager:StackManager/app-commons.git
